<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
		<link rel="stylesheet" href="/css/foundation/foundation.css?v=1" />
		<link rel="stylesheet" href="/css/main.css?v=2" />
		<%= EditorApi.html.head.tags() %>
	</head>
	<body>
		<div id="<%= EditorApi.html.body.polygonjsId('scene_01') %>" class='polygonjs-app'></div>
		<%= EditorApi.html.body.tags('loader') %>

		<div id='sound-notice-container'>
			<div id='sound-notice-overlay'></div>
			<div id='sound-notice-message-body'>
				<p>
					This is an audio-visual experience
					brought to you by
					<a href='https://polygonjs.com'>Polygonjs</a>
				</p>

				<div id='sound-notice-button-container'>
					<div id='sound-notice-start-button'>START</div>
				</div>
			</div>
		</div>
	</body>
</html>
